<nav class="navbar navbar-expand-lg navbar-light bg-gradient">
  <a class="navbar-brand" href="#">Ticaret Sayfası </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link bg-gradient " routerLink="#"><div class="sr-only text-bg-primary">Katalog</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ProductFactory">Urun Ekle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Cart">Sepete Git</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/Favorites">Favoriler</a>
      </li>
    </ul>
  </div>
</nav>
<!--Navbar-->
<div *ngIf="products.length > 0; else noProducts">
  <h2>Product List</h2>
  <div *ngFor="let product of products; let i = index" class="product-card">
    <h3>{{ product.ProductName }}</h3>
    <p>Price: {{ product.price | currency }}</p>
    <p>Description: {{ product.Desc }}</p>
    <button (click)="deleteProduct(product.ProductName)">Sil</button>
    <button (click)="updateProduct(product)">Güncelle</button>
    <button (click)="addToCartProduct(product)">Sepete Ekle</button>
    <button
      [ngClass]="{'active-button': isFavorite(i)}"
      (click)="toggleFavorite(i)">
      Favorite
    </button>
  </div>
</div>
<ng-template #noProducts>
  <p>No products available.</p>
</ng-template>
