.login-form {
  width: 100%;
  max-width: 400px;
  margin-left:40%;
  margin-top:25vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #b8bfce;
}
/*Responsive Tasarım ekle */
